<label class="form__label">Email Address</label>
<input class="form__input" type="text" placeholder="example@address.com" [formControl]="emailControl">
<label class="form__label">Password</label>
<input class="form__input" type="text" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
<div class="form__checkbox-container">
  <input class="checkbox-container__checkbox" type="checkbox" name="remembrance">
  <label class="checkbox-container__label" for="remembrance">Remeber me</label>
</div>
<button class="form__button">Log in</button>
